*.pdb
*.ipdb
*.iobj
Source/.vs/sap_console/v14/.suo
*.tlog
*.obj
*.log
*.ilk
*.suo
*.db
*.opendb
*.ipch
/Source/.vs/sap_console/v15/ipch/AutoPCH/SAP_CONSOLE-8dc424a/CONSOLE-9d481a3e
/Source/.vs/sap_console/v15
/Source/.vs/sap_console/v15/ipch/AutoPCH/SAP_CONSOLE-8dc424a/CONSOLE-9d481a3e
/Release/sap_console_v_0_3_5.exe
